body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.pentos-container {
  border: 8px solid #f0f0f0;
  border-radius: 200px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 180px;
  width: 200px;
  height: 200px;
}